<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigBase</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">
<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigBase</h1><hr>
      <h3><i style="color : #00aa00">abstract</i></h3>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdecore</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left></td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigBase</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td></td>
        </tr>
      </table>
    </td>
    <td width="65%">
      \class KConfigBase kconfigbase.h <KConfigBase>
    </td>
  </tr>
</table>
<hr>
<hr>
<h3>enums</h3><ul>
<li style="padding-bottom : 8px;"><b>AccessMode</b> { NoAccess, ReadOnly, ReadWrite }</li>

<li style="padding-bottom : 8px;"><b>WriteConfigFlag</b> { Persistent, Global, Localized, Normal }<br><i  style="color : #aa00aa">typesafe object: </i><b>WriteConfigFlags</b></li>
</ul><a href="#extended"><i>enum details</i></a><hr>

<h3>methods</h3><ul style="list-style-type : none">
<li><b style="color : #000000;">KConfigBase</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>ctor</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">accessMode</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>KConfigBase.AccessMode</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Returns the access mode of the app-config object.
</p>
<p>
Possible return values
are NoAccess (the application-specific config file could not be
opened neither read-write nor read-only), ReadOnly (the
application-specific config file is opened read-only, but not
read-write) and ReadWrite (the application-specific config
file is opened read-write).
</p>
<p>
Returns the access mode of the app-config object
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">deleteGroup</b> (group, flags)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QByteArray</td><td align="right"></td></tr>
              <tr><td>flags</td><td>KConfigBase.WriteConfigFlags</td><td align="right">KConfigBase.Normal</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Delete <b>aGroup.</b> This marks <b>aGroup</b> as <b>deleted</b> in the config object. This effectively
removes any cascaded values from config files earlier in the stack.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">deleteGroup</b> (group, flags)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QString</td><td align="right"></td></tr>
              <tr><td>flags</td><td>KConfigBase.WriteConfigFlags</td><td align="right">KConfigBase.Normal</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">deleteGroup</b> (group, flags)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>char</td><td align="right"></td></tr>
              <tr><td>flags</td><td>KConfigBase.WriteConfigFlags</td><td align="right">KConfigBase.Normal</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">deleteGroupImpl</b> (group, flags)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QByteArray</td><td align="right"></td></tr>
              <tr><td>flags</td><td>KConfigBase.WriteConfigFlags</td><td align="right">KConfigBase.Normal</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">group</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Returns an object for the named subgroup.
</p>
<p></p>
<p>
<b>group</b> - the group to open. Pass a null string on to the KConfig
object to obtain a handle on the root group.
Returns The list of groups.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">group</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">group</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>char</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #999999;">group</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #aa0000">Not implemented</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #999999;">group</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #aa0000">Not implemented</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #999999;">group</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #aa0000">Not implemented</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>char</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">groupImpl</b> (b)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>b</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #999999;">groupImpl</b> (b)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>KConfigGroup</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #aa0000">Not implemented</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>b</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">groupList</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QStringList</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Returns a list of groups that are known about.
</p>
<p>
Returns The list of groups.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">hasGroup</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Returns true if the specified group is known about.
</p>
<p></p>
<p>
<b>group</b> - The group to search for.
Returns true if the group exists.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">hasGroup</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>char</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">hasGroup</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">hasGroupImpl</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">isGroupImmutable</b> (aGroup)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>aGroup</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Can changes be made to the entries in <b>aGroup?</b>
</p>
<p></p>
<p>
<b>aGroup</b> - The group to check for immutability.
Returns false if the entries in <b>aGroup</b> can be modified.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">isGroupImmutable</b> (aGroup)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>aGroup</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">isGroupImmutable</b> (aGroup)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>aGroup</td><td>char</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">isGroupImmutableImpl</b> (aGroup)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>aGroup</td><td>QByteArray</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">isImmutable</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Checks whether this configuration object can be modified.
Returns whether changes may be made to this configuration object.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">markAsClean</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Reset the dirty flags of all entries in the entry map, so the
values will not be written to disk on a later call to sync().
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">sync</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Syncs the configuration object that this group belongs to.
Unrelated concurrent changes to the same file are merged and thus
not overwritten. Note however, that this object is <b>not</b> automatically
updated with those changes.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #999999;">virtual_hook</b> (id, data)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #aa0000">Not implemented</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>id</td><td>int</td><td align="right"></td></tr>
              <tr><td>data</td><td>void</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Virtual hook, used to add new "virtual" functions while maintaining
binary compatibility. Unused in this class.
    </td>
  </tr>
</table>

</li><hr>

</li><hr>

<a name="extended">
<h3>enums - detail</h3>
<ul style="list-style-type : none">
<li><b>AccessMode</b>  { NoAccess, ReadOnly, ReadWrite }
  <p style="padding-top : 9px;">Possible return values for accessMode().</p>
  <table cellspacing="5">
    <tr>
      <td></td>
      <td valign="top"><i>NoAccess</i></td>
      <td valign="top">-  </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td valign="top"><i>ReadOnly</i></td>
      <td valign="top">-  </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td valign="top"><i>ReadWrite</i></td>
      <td valign="top">-  </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
  </table>
</li>
<hr>
<li><b>WriteConfigFlag</b>  { Persistent, Global, Localized, Normal }
  <p style="padding-top : 9px;">Flags to control write entry</p>
  <table cellspacing="5">
<br><i  style="color : #aa00aa">typesafe object: </i><b>WriteConfigFlags</b></li>
    <tr>
      <td></td>
      <td valign="top"><i>Persistent</i></td>
      <td valign="top">- 0x01 </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td valign="top"><i>Global</i></td>
      <td valign="top">- 0x02 </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td valign="top"><i>Localized</i></td>
      <td valign="top">- 0x04 </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td valign="top"><i>Normal</i></td>
      <td valign="top">- Persistent </td>
      <td valign="top">-</td>
      <td></td>
    </tr>
  </table>
</li>
<hr>
</ul>
</span>
</body>
</html>
