<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigSkeletonItem</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">
<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigSkeletonItem</h1><hr>
      <h3><i style="color : #00aa00">abstract</i></h3>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdecore</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left></td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigSkeletonItem</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td></td>
        </tr>
      </table>
    </td>
    <td width="65%">
      \class KConfigSkeletonItem kcoreconfigskeleton.h <KConfigSkeletonItem>
</p>
<p>
Class for storing a preferences setting
<b>Author</b> Cornelius Schumacher
</p>
<p>
See also  KCoreConfigSkeleton
</p>
<p>
This class represents one preferences setting as used by KCoreConfigSkeleton.
Subclasses of KConfigSkeletonItem implement storage functions for a certain type of
setting. Normally you don't have to use this class directly. Use the special
addItem() functions of KCoreConfigSkeleton instead. If you subclass this class you will
have to register instances with the function KCoreConfigSkeleton.addItem().
    </td>
  </tr>
</table>
<hr>
<hr>
<h3>methods</h3><ul style="list-style-type : none">
<li style="list-style-type : none"><b style="color : #000000;">KConfigSkeletonItem</b> (_group, _key)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>ctor</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>_group</td><td>QString</td><td align="right"></td></tr>
              <tr><td>_key</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Constructor.
</p>
<p></p>
<p>
<b>_group</b> - Config file group.</p>
<p>
<b>_key</b> - Config file key.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">group</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QString</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return config file group.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">isEqual</b> (v)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>v</td><td>QVariant</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Check whether the item is equal to v.
</p>
<p>
Use this function to compare items that use custom types such as KUrl,
because QVariant.operator== will not work for those.
</p>
<p></p>
<p>
<b>v</b> - QVariant to compare to
Returns true if the item is equal to v, false otherwise
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">isImmutable</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return if the entry can be modified.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">key</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QString</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return config file key.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">label</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QString</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return label of item. See setLabel().
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">maxValue</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QVariant</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return maximum value of item or invalid if not specified
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">minValue</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QVariant</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return minimum value of item or invalid if not specified
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">name</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QString</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return internal name of entry.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">property</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QVariant</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return item as property
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">readConfig</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>a0</td><td>KConfig</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
This function is called by KCoreConfigSkeleton to read the value for this setting
from a config file.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">readDefault</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>a0</td><td>KConfig</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Read global default value.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">readImmutability</b> (group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>group</td><td>KConfigGroup</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
sets mIsImmutable to true if mKey in config is immutable</p>
<p>
<b>group</b> - KConfigGroup to check if mKey is immutable in
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">setDefault</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Sets the current value to the default value.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setGroup</b> (_group)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>_group</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set config file group.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setKey</b> (_key)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>_key</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set config file key.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setLabel</b> (l)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>l</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set label providing a translated one-line description of the item.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setName</b> (_name)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>_name</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set internal name of entry.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setProperty</b> (p)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>p</td><td>QVariant</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set item to <b>p</b>
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setWhatsThis</b> (w)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>w</td><td>QString</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set WhatsThis description of item.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">swapDefault</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Exchanges the current value with the default value
Used by KCoreConfigSkeleton.useDefaults(bool);
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">whatsThis</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QString</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Return WhatsThis description of item. See setWhatsThis().
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">writeConfig</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #00aa00">pure virtual</b>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>a0</td><td>KConfig</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
This function is called by KCoreConfigSkeleton to write the value of this setting
to a config file.
    </td>
  </tr>
</table>

</li><hr>

</li><hr>

</span>
</body>
</html>
