<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigINIBackEnd</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">

<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigINIBackEnd</h1><hr>
      <h3><i style="color : #00aa00"></i></h3>
    </td>
    <td  width="30%" valign="top" align="right">
      <table>
        <tr><td align="right"><a href="../index.html">Table of contents</a></td></tr>
        <tr><td align="right"><a href="../modules.html">Modules</a></td></tr>
        <tr><td align="right"><a href="index.html">kdecore Classes</a></td></tr>
        <tr><td align="right"><a href="../allclasses.html">All Classes</a></td></tr>
      </table>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdecore</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left>global</td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigINIBackEnd</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td>KConfigBackEnd</td>
        </tr>
      </table>
    </td>
    <td width="65%">
      <p>
Class for KDE INI-style configuration file loading/saving.
</p>
<p>
<b>Author</b> Preston Brown <pbrown@kde.org>,
Matthias Kalle Dalheimer <kalle@kde.org>
</p>

    </td>
  </tr>
</table>
<hr>
<hr>

<h3>methods</h3><ul style="list-style-type : none">
<li style="list-style-type : none"><b style="color : #000000;">KConfigINIBackEnd</b> (_config, _fileName, _resType, _useKDEGlobals)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>a KConfigINIBackEnd object</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>_config</td><td>KConfigBase</td><td align="right"></td></tr>

              <tr><td>_fileName</td><td>QString</td><td align="right"></td></tr>

              <tr><td>_resType</td><td>char</td><td align="right"></td></tr>

              <tr><td>_useKDEGlobals</td><td>bool</td><td align="right">True</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Constructs an ini-style configuration back end.
</p>
<p>
</p>
<p>
<b>_config</b> - Specifies the configuration object which values
will be passed to as they are read, or from where values
to be written to will be obtained from.
</p>
<p>
<b>_fileName</b> - The name of the file in which config
data is stored. All registered configuration directories
will be looked in in order of decreasing relevance.
</p>
<p>
<b>_resType</b> - the resource type of the fileName specified, _if_
it is not an absolute path (otherwise this parameter is ignored).
</p>
<p>
<b>_useKDEGlobals</b> - If true, the user's system-wide kdeglobals file
will be imported into the config object. If false, only
the filename specified will be dealt with.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">getEntryMap</b> (map, bGlobal, mergeFile)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>map</td><td>KEntryMap</td><td align="right"></td></tr>

              <tr><td>bGlobal</td><td>bool</td><td align="right"></td></tr>

              <tr><td>mergeFile</td><td>QFile</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Get the entry map.
</p>
<p>
</p>
<p>
<b>map</b> - the entries will be stored in this object.
</p>
<p>
<b>bGlobal</b> - Specifies whether to get only entries which
are marked as belonging to the global KDE config file.
If this is false, it skips those entries.
</p>
<p>
<b>mergeFile</b> - if not null, the dirty entries for this file will
be merged.
</p>
<p>
Returns Whether there will be some entries left for writing to other
files.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">parseConfigFiles</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Parses all INI-style configuration files for a config object.
</p>
<p>
Returns Whether or not parsing was successful.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">parseSingleConfigFile</b> (rFile, pWriteBackMap, bGlobal, bDefault)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>rFile</td><td>QFile</td><td align="right"></td></tr>

              <tr><td>pWriteBackMap</td><td>KEntryMap</td><td align="right">None</td></tr>

              <tr><td>bGlobal</td><td>bool</td><td align="right">False</td></tr>

              <tr><td>bDefault</td><td>bool</td><td align="right">False</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Parses one configuration file.
</p>
<p>
</p>
<p>
<b>rFile</b> - The configuration file to parse
</p>
<p>
<b>pWriteBackMap</b> - If specified, points to a KEntryMap where
the data read from the file should be stored, instead of
inserting them directly into the configuration object.
Use this area as a "scratchpad" when you need to know what is
on disk but don't want to effect the configuration object.
</p>
<p>
<b>bGlobal</b> - Specifies whether entries should be marked as
belonging to the global KDE configuration file rather
than the application-specific KDE configuration file(s).
</p>
<p>
<b>bDefault</b> - Specifies whether entries should be marked as
being default values.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">sync</b> (bMerge)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>bMerge</td><td>bool</td><td align="right">True</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Writes configuration data to file(s).
</p>
<p>
<b>bMerge</b> - Specifies whether the old config file already
on disk should be merged in with the data in memory. If true,
data is read off the disk and merged. If false, the on-disk
file is removed and only in-memory data is written out.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">writeConfigFile</b> (filename, bGlobal, bMerge)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>filename</td><td>QString</td><td align="right"></td></tr>

              <tr><td>bGlobal</td><td>bool</td><td align="right">False</td></tr>

              <tr><td>bMerge</td><td>bool</td><td align="right">True</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Writes configuration file back.
</p>
<p>
</p>
<p>
<b>filename</b> - The name of the file to write.
</p>
<p>
<b>bGlobal</b> - Specifies whether to write only entries which
are marked as belonging to the global KDE config file.
If this is false, it skips those entries.
</p>
<p>
<b>bMerge</b> - Specifies whether the old config file already
on disk should be merged in with the data in memory. If true,
data is read off the disk and merged. If false, the on-disk
file is removed and only in-memory data is written out.
Returns Whether some entries are left to be written to other
files.
</p>

    </td>
  </tr>
</table>


</li><hr>


</li><hr>


</span>
</body>
</html>
