[Desktop Entry]
Exec=kcmshell4 pykcm
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=pykcm/pykcm.py

X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=60

Name=pykcm

Comment=pykcm settings

X-KDE-Keywords=python kcm

Categories=Qt;KDE;X-KDE-settings-looknfeel;
