<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigDialog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">

<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigDialog</h1><hr>
      <h3><i style="color : #00aa00"></i></h3>
    </td>
    <td  width="30%" valign="top" align="right">
      <table>
        <tr><td align="right"><a href="../index.html">Table of contents</a></td></tr>
        <tr><td align="right"><a href="../modules.html">Modules</a></td></tr>
        <tr><td align="right"><a href="index.html">kdeui Classes</a></td></tr>
        <tr><td align="right"><a href="../allclasses.html">All Classes</a></td></tr>
      </table>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdeui</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left>global</td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigDialog</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td>KPageDialog</td>
        </tr>
      </table>
    </td>
    <td width="65%">
      <p>
Standard %KDE configuration dialog class
</p>
<p>
The KConfigDialog class provides an easy and uniform means of displaying
a settings dialog using KPageDialog, KConfigDialogManager and a
KConfigSkeleton derived settings class.
</p>
<p>
KConfigDialog handles the enabling and disabling of buttons, creation
of the dialog, and deletion of the widgets. Because of
KConfigDialogManager, this class also manages: restoring
the settings, reseting them to the default values, and saving them. This
requires that the names of the widgets corresponding to configuration entries
have to have the same name plus an additional "kcfg_" prefix. For example the
widget named "kcfg_MyOption" would be associated with the configuration entry
"MyOption".
</p>
<p>
Here is an example usage of KConfigDialog:
</p>
<p>
<pre>
void KCoolApp.showSettings(){
if(KConfigDialog.showDialog("settings"))
return;
KConfigDialog *dialog = new KConfigDialog(this, "settings", MySettings.self());
dialog->setFaceType(KPageDialog.IconList);
dialog->addPage(new General(0, "General"), i18n("General") );
dialog->addPage(new Appearance(0, "Style"), i18n("Appearance") );
connect(dialog, SIGNAL(settingsChanged(const QString&)), mainWidget, SLOT(loadSettings()));
connect(dialog, SIGNAL(settingsChanged(const QString&)), this, SLOT(loadSettings()));
dialog->show();
}
</pre>
</p>
<p>
Other than the above code, each class that has settings in the dialog should
have a loadSettings() type slot to read settings and perform any
necessary changes.
</p>
<p>
For dialog appearance options (like buttons, default button, ...) please see
</p>
<p>
See also  KPageDialog
</p>
<p>
See also  KConfigSkeleton
<b>Author</b> Waldo Bastian <bastian@kde.org>
</p>

    </td>
  </tr>
</table>
<hr>
<hr>

<h3>methods</h3><ul style="list-style-type : none">
<li style="list-style-type : none"><b style="color : #000000;">KConfigDialog</b> (parent, name, config)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>a KConfigDialog object</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>parent</td><td>QWidget</td><td align="right"></td></tr>

              <tr><td>name</td><td>QString</td><td align="right"></td></tr>

              <tr><td>config</td><td>KConfigSkeleton</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
</p>
<p>
<b>parent</b> - - The parent of this object. Even though the class
deletes itself the parent should be set so the dialog can be centered
with the application on the screen.
</p>
<p>
</p>
<p>
<b>name</b> - - The name of this object. The name is used in determining if
there can be more than one dialog at a time. Use names such as:
"Font Settings" or "Color Settings" and not just "Settings" in
applications where there is more than one dialog.
</p>
<p>
</p>
<p>
<b>config</b> - - Config object containing settings.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">KConfigDialog</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>a KConfigDialog object</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>KConfigDialog</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Private class.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">addPage</b> (page, itemName, pixmapName, header, manage)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(KPageWidgetItem)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>page</td><td>QWidget</td><td align="right"></td></tr>

              <tr><td>itemName</td><td>QString</td><td align="right"></td></tr>

              <tr><td>pixmapName</td><td>QString</td><td align="right"></td></tr>

              <tr><td>header</td><td>QString</td><td align="right">QString ()</td></tr>

              <tr><td>manage</td><td>bool</td><td align="right">True</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Adds page to the dialog and to KConfigDialogManager. When an
application is done adding pages show() should be called to
display the dialog.
</p>
<p>
<b>page</b> - - Pointer to the page that is to be added to the dialog.
This object is reparented.
</p>
<p>
<b>itemName</b> - - Name of the page.
</p>
<p>
<b>pixmapName</b> - - Name of the pixmap that should be used if needed.
</p>
<p>
<b>header</b> - - Header text use in the list modes. Ignored in Tabbed
mode. If empty, the itemName text is used when needed.
</p>
<p>
<b>manage</b> - - Whether KConfigDialogManager should manage the page or not.
Returns The KPageWidgetItem associated with the page.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">addPage</b> (page, config, itemName, pixmapName, header)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(KPageWidgetItem)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>page</td><td>QWidget</td><td align="right"></td></tr>

              <tr><td>config</td><td>KConfigSkeleton</td><td align="right"></td></tr>

              <tr><td>itemName</td><td>QString</td><td align="right"></td></tr>

              <tr><td>pixmapName</td><td>QString</td><td align="right"></td></tr>

              <tr><td>header</td><td>QString</td><td align="right">QString ()</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Adds page to the dialog that is managed by a custom KConfigDialogManager.
This is useful for dialogs that contain settings spread over more than
one configuration file and thus have/need more than one KConfigSkeleton.
When an application is done adding pages show() should be called to
display the dialog.
</p>
<p>
<b>page</b> - - Pointer to the page that is to be added to the dialog.
This object is reparented.
</p>
<p>
<b>config</b> - - Config object containing corresponding settings.
</p>
<p>
<b>itemName</b> - - Name of the page.
</p>
<p>
<b>pixmapName</b> - - Name of the pixmap that should be used if needed.
</p>
<p>
<b>header</b> - - Header text use in the list modes. Ignored in Tabbed
mode. If empty, the itemName text is used when needed.
Returns The KPageWidgetItem associated with the page.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">exists</b> (name)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(KConfigDialog)</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #0000ff">static</i>
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>name</td><td>QString</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
See if a dialog with the name 'name' already exists.
</p>
<p>
See also  showDialog()
</p>
<p>
<b>name</b> - - Dialog name to look for.
Returns Pointer to widget or 0 if it does not exist.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">hasChanged</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Returns whether the current state of the dialog is
different from the current configutation.
Virtual function for custom additions.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">isDefault</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Returns whether the current state of the dialog is
the same as the default configuration.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">settingsChanged</b> (dialogName)<i style="color : #0000ff">   signal</i>
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          SIGNAL ("settingsChanged (const QString&)")
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>dialogName</td><td>QString</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
One or more of the settings have been permanently changed such as if
the user clicked on the Apply or Ok button.
</p>
<p>
<b>dialogName</b> - the name of the dialog.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">settingsChangedSlot</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Some setting was changed. Emit the signal with the dialogs name
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">showDialog</b> (name)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #0000ff">static</i>
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>name</td><td>QString</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Attempts to show the dialog with the name 'name'.
</p>
<p>
See also  exists()
</p>
<p>
<b>name</b> - - The name of the dialog to show.
Returns True if the dialog 'name' exists and was shown.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">showEvent</b> (e)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>e</td><td>QShowEvent</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
<b style="color : #ff0000;"><i>Internal </i></b>
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">updateButtons</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Updates the Apply and Default buttons.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">updateSettings</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Update the settings from the dialog.
Virtual function for custom additions.
</p>
<p>
Example use: User clicks Ok or Apply button in a configure dialog.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">updateWidgets</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Update the dialog based on the settings.
Virtual function for custom additions.
</p>
<p>
Example use: Initialisation of dialog.
Example use: User clicks Reset button in a configure dialog.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">updateWidgetsDefault</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
Update the dialog based on the default settings.
Virtual function for custom additions.
</p>
<p>
Example use: User clicks Defaults button in a configure dialog.
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">widgetModified</b> ()<i style="color : #0000ff">   signal</i>
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          SIGNAL ("widgetModified ()")
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
A widget in the dialog was modified.
</p>

    </td>
  </tr>
</table>


</li><hr>


</li><hr>


</span>
</body>
</html>
