<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigSkeleton.ItemStringList</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">

<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigSkeleton.ItemStringList</h1><hr>
      <h3><i style="color : #00aa00"></i></h3>
    </td>
    <td  width="30%" valign="top" align="right">
      <table>
        <tr><td align="right"><a href="../index.html">Table of contents</a></td></tr>
        <tr><td align="right"><a href="../modules.html">Modules</a></td></tr>
        <tr><td align="right"><a href="index.html">kdeui Classes</a></td></tr>
        <tr><td align="right"><a href="../allclasses.html">All Classes</a></td></tr>
      </table>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdeui</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left>global</td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigSkeleton.ItemStringList</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td>KConfigSkeletonItem</td>
        </tr>
      </table>
    </td>
    <td width="65%">
      <p>
Class for handling a string list preferences item.
</p>

    </td>
  </tr>
</table>
<hr>
<hr>

<h3>methods</h3><ul style="list-style-type : none">
<li style="list-style-type : none"><b style="color : #000000;">ItemStringList</b> (_group, _key, reference, defaultValue)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>_group</td><td>QString</td><td align="right"></td></tr>

              <tr><td>_key</td><td>QString</td><td align="right"></td></tr>

              <tr><td>reference</td><td>QStringList</td><td align="right"></td></tr>

              <tr><td>defaultValue</td><td>QStringList</td><td align="right">QStringList ()</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
KConfigSkeletonGenericItem.KConfigSkeletonGenericItem
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">isEqual</b> (p)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(bool)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>p</td><td>QVariant</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
KConfigSkeletonItem.isEqual(const QVariant &)
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">property</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(QVariant)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
KConfigSkeletonItem.property()
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">readConfig</b> (config)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>config</td><td>KConfig</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
)
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">setDefault</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">setDefaultValue</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>QStringList</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">setProperty</b> (p)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>p</td><td>QVariant</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
KConfigSkeletonItem.setProperty(const QVariant&)
</p>

    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">setValue</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>QStringList</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">swapDefault</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">value</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(QStringList)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">writeConfig</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>KConfig</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


</li><hr>


</span>
</body>
</html>
