<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigDialogManager</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">
<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigDialogManager</h1><hr>
      <h3><i style="color : #00aa00"></i></h3>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdeui</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left></td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigDialogManager</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td>QObject</td>
        </tr>
      </table>
    </td>
    <td width="65%">
      Provides a means of automatically retrieving,
saving and resetting KConfigSkeleton based settings in a dialog.
</p>
<p>
The KConfigDialogManager class provides a means of automatically
retrieving, saving and resetting basic settings.
It also can emit signals when settings have been changed
(settings were saved) or modified (the user changes a checkbox
from on to off).
</p>
<p>
The names of the widgets to be managed have to correspond to the names of the
configuration entries in the KConfigSkeleton object plus an additional
"kcfg_" prefix. For example a widget named "kcfg_MyOption" would be
associated to the configuration entry "MyOption".
</p>
<p>
New widgets can be added to the map using the static functions propertyMap() and
changedMap(). Note that you can't just add any class. The class must have a
matching Q_PROPERTY(...) macro defined, and a signal which emitted when the
property changed. Note: by default, the property which defined as "USER true"
is used.
</p>
<p>
For example (note that KColorButton is already added and it doesn't need to
manually added):
</p>
<p>
kcolorbutton.h defines the following property:
<pre>
Q_PROPERTY( QColor color READ color WRITE setColor USER true )
</pre>
and signal:
<pre>
void changed( const QColor &newColor );
</pre>
</p>
<p>
To add KColorButton the following code would be inserted in the main:
</p>
<p>
<pre>
KConfigDialogManager.changedMap()->insert("KColorButton", SIGNAL(changed(const QColor &)));
</pre>
</p>
<p>
<b>Author</b> Benjamin C Meyer <ben+kdelibs at meyerhome dot net>
<b>Author</b> Waldo Bastian <bastian@kde.org>
    </td>
  </tr>
</table>
<hr>
<hr>
<h3>methods</h3><ul style="list-style-type : none">
<li style="list-style-type : none"><b style="color : #000000;">KConfigDialogManager</b> (parent, conf)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>ctor</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>parent</td><td>QWidget</td><td align="right"></td></tr>
              <tr><td>conf</td><td>KConfigSkeleton</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Constructor.</p>
<p>
<b>parent</b> - Dialog widget to manage</p>
<p>
<b>conf</b> - Object that contains settings
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #999999;">KConfigDialogManager</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>ctor</i>
          </td>
        </tr>
        <tr>
          <td>
          <i style="color : #aa0000">Not implemented</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>a0</td><td>KConfigDialogManager</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">addWidget</b> (widget)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>widget</td><td>QWidget</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Add additional widgets to manage</p>
<p>
<b>widget</b> - Additional widget to manage, inlcuding all its children
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">changedMap</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QHash<QString,QByteArray></i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #0000aa">static</b> 
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Retrieve the widget change map
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">getUserProperty</b> (widget)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>QByteArray</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>widget</td><td>QWidget</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Finds the USER property name using Qt's MetaProperty system, and caches
it in the property map (the cache could be retrieved by propertyMap() ).
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">hasChanged</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Returns whether the current state of the known widgets are
different from the state in the config object.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">init</b> (trackChanges)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>trackChanges</td><td>bool</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">

<b>trackChanges</b> - - If any changes by the widgets should be tracked
set true. This causes the emitting the modified() signal when
something changes.
TODO: Returns bool - True if any setting was changed from the default.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">initMaps</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #0000aa">static</b> 
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Initializes the property maps
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">isDefault</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Returns whether the current state of the known widgets are
the same as the default state in the config object.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">parseChildren</b> (widget, trackChanges)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>bool</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>widget</td><td>QWidget</td><td align="right"></td></tr>
              <tr><td>trackChanges</td><td>bool</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Recursive function that finds all known children.
Goes through the children of widget and if any are known and not being
ignored, stores them in currentGroup. Also checks if the widget
should be disabled because it is set immutable.</p>
<p>
<b>widget</b> - - Parent of the children to look at.</p>
<p>
<b>trackChanges</b> - - If true then tracks any changes to the children of
widget that are known.
Returns bool - If a widget was set to something other than its default.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">property</b> (w)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>QVariant</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>w</td><td>QWidget</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Retrieve a property
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">propertyMap</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>QHash<QString,QByteArray></i>
          </td>
        </tr>
        <tr>
          <td>
          <b style="color : #0000aa">static</b> 
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Retrieve the property map
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setProperty</b> (w, v)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>w</td><td>QWidget</td><td align="right"></td></tr>
              <tr><td>v</td><td>QVariant</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Set a property
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">settingsChanged</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <p style="color : #ee360a">SIGNAL ("settingsChanged ()")</p>

          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
One or more of the settings have been saved (such as when the user
clicks on the Apply button). This is only emitted by updateSettings()
whenever one or more setting were changed and consequently saved.
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">settingsChanged</b> (widget)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <p style="color : #ee360a">SIGNAL ("settingsChanged (QWidget*)")</p>

          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>widget</td><td>QWidget</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
TODO: Verify
One or more of the settings have been changed.</p>
<p>
<b>widget</b> - - The widget group (pass in via addWidget()) that
contains the one or more modified setting.
</p>
<p>
See also  settingsChanged()
    </td>
  </tr>
</table>

</li><hr>

<li style="list-style-type : none"><b style="color : #000000;">setupWidget</b> (widget, item)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>
              <tr><td>widget</td><td>QWidget</td><td align="right"></td></tr>
              <tr><td>item</td><td>KConfigSkeletonItem</td><td align="right"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Setup secondary widget properties
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">updateSettings</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Traverse the specified widgets, saving the settings of all known
widgets in the settings object.
</p>
<p>
Example use: User clicks Ok or Apply button in a configure dialog.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">updateWidgets</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Traverse the specified widgets, sets the state of all known
widgets according to the state in the settings object.
</p>
<p>
Example use: Initialisation of dialog.
Example use: User clicks Reset button in a configure dialog.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">updateWidgetsDefault</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
Traverse the specified widgets, sets the state of all known
widgets according to the default state in the settings object.
</p>
<p>
Example use: User clicks Defaults button in a configure dialog.
    </td>
  </tr>
</table>

</li><hr>

<li><b style="color : #000000;">widgetModified</b> ( )
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>Nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          <p style="color : #ee360a">SIGNAL ("widgetModified ()")</p>

          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        <tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
If retrieveSettings() was told to track changes then if
any known setting was changed this signal will be emitted. Note
that a settings can be modified several times and might go back to the
original saved state. hasChanged() will tell you if anything has
actually changed from the saved values.
    </td>
  </tr>
</table>

</li><hr>

</li><hr>

</span>
</body>
</html>
