<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>KConfigSkeleton.ItemEnum</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<span style="font-size : 10pt;">

<table width="100%">
  <tr>
    <td width ="70%">
      <h1>class KConfigSkeleton.ItemEnum</h1><hr>
      <h3><i style="color : #00aa00"></i></h3>
    </td>
    <td  width="30%" valign="top" align="right">
      <table>
        <tr><td align="right"><a href="../index.html">Table of contents</a></td></tr>
        <tr><td align="right"><a href="../modules.html">Modules</a></td></tr>
        <tr><td align="right"><a href="index.html">kdeui Classes</a></td></tr>
        <tr><td align="right"><a href="../allclasses.html">All Classes</a></td></tr>
      </table>
    </td>
  </tr>
</table>
<table cellpadding="10">
  <tr>
    <td valign="top" width="35%">
      <table bgcolor="#f7f7ff" cellpadding="4">
        <tr>
          <td width="10%" align=left>Module</td>
          <td width="30%" align=left>kdeui</td>
        </tr>
        <tr>
          <td width="10%" align=left>Namespace</td>
          <td width="30%" align=left>global</td>
        </tr>
        <tr>
          <td>Class</td>
          <td>KConfigSkeleton.ItemEnum</td>
        </tr>
        <tr>
          <td>Inherits</td>
          <td>KConfigSkeleton.ItemInt</td>
        </tr>
      </table>
    </td>
    <td width="65%">
      <p>
Class for handling enums.
</p>

    </td>
  </tr>
</table>
<hr>
<hr>

<h3>methods</h3><ul style="list-style-type : none">
<li style="list-style-type : none"><b style="color : #000000;">ItemEnum</b> (a0, a1, a2, a3, a4)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>QString</td><td align="right"></td></tr>

              <tr><td>a1</td><td>QString</td><td align="right"></td></tr>

              <tr><td>a2</td><td>qint32</td><td align="right"></td></tr>

              <tr><td>a3</td><td>list of KConfigSkeleton.ItemEnum.Choice</td><td align="right"></td></tr>

              <tr><td>a4</td><td>qint32</td><td align="right">0</td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">choices</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(list of KConfigSkeleton.ItemEnum.Choice)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">readConfig</b> (config)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>config</td><td>KConfig</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
)
</p>

    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">setDefault</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">setDefaultValue</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(), a0 (int)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>int</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">setValue</b> (a0)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>(), a0 (int)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>a0</td><td>int</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">swapDefault</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li><b style="color : #000000;">value</b> ()
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table>
        <tr>
          <td>
            returns <i>(int)</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr><td></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">


    </td>
  </tr>
</table>


</li><hr>


<li style="list-style-type : none"><b style="color : #000000;">writeConfig</b> (config)
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <table vspace="5">
        <tr>
          <td>
            returns <i>nothing</i>
          </td>
        </tr>
        <tr>
          <td>
          
          </td>
        </tr>
        <tr valign="bottom">
          <td>
            <table>
              <tr  bgcolor="#e7e7ff">
                <th>Argument</th><th>Type</th><th>Default</th>
              </tr>

              <tr><td>config</td><td>KConfig</td><td align="right"></td></tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="40%" align="left">
<p>
)
</p>

    </td>
  </tr>
</table>


</li><hr>


</li><hr>


</span>
</body>
</html>
